@charset "utf-8";

/*
  OVERRIDING CASPIAN
*/

.tab-pane {
    -fx-background: white;
    -fx-border-width:0;
    -fx-border-color:darkgray;
}
.tab-content-area{
  -fx-border-width:0 1 1 1;
  -fx-border-color:darkgray;
}
.border-fix {
    -fx-background-color: white;
}
/*.text-area{
  -fx-border-width:1;
  -fx-border-color:darkgray;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
}
.text-area .scroll-pane {
  -fx-border-width:1;
  -fx-border-color:white;
  -fx-background-color: white;
}*/

DateField, TextField, TextArea, NumberTextField, PasswordField, ComboBox, DorseComboBox {
	-fx-font-size: 20px;
}

Button {
	-fx-font-size: 16px;
}

MenuBar, Menu, MenuItem {
	-fx-font-size: 16px;
}

.field-label {
	-fx-font: normal 20px Tahoma; 
	-fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
}

.help-button {
	-fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
	-fx-graphic: url("help.png");
	-fx-cursor: hand;
}

.settings-button {
	-fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
	-fx-graphic: url("gear.png");
	-fx-cursor: hand;
}

.title-label {
	-fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
	-fx-font-size: 20px;
}

.activity-title {
	-fx-background-image:url("bg.png");
	-fx-background-image-repeat:repeat-x;
	-fx-padding:5px;
	-fx-font-size: 20px;
}

.help-text {
	-fx-font-size: 25px;
	-fx-font-smoothing-type:gray;
	-fx-skin: "com.sun.javafx.scene.control.skin.TextSkin";
}

.validation-panel {
	-fx-text-fill: #B94A48;
	-fx-background-color: #F2DEDE;
	-fx-background-radius: 7px;
	-fx-border-color: #EED3D7;
	-fx-border-radius: 7px;
	-fx-border-style: solid;
	-fx-font-size: 14;
	-fx-padding: 20px;
}

.validation-title {
	-fx-text-fill: #B94A48;
	-fx-font-size: 20;
	-fx-padding: 0px 0px 5px 0px;
}

.validation-message {
	-fx-text-fill: #B94A48;
	-fx-padding:0px 0px 2px 5px;
}

.invalid {
	-fx-border-color: red;
	-fx-border-radius: 3px;
}

.image-button {
	-fx-padding: 3px 6px 4px 6px;
	-fx-font-size: 20px;
}

.red_debug{
  -fx-background-color:crimson;
  -fx-border-width:2px;
  -fx-border-color:darkorange;
}
.orange_debug{
  /*-fx-background-color:darkorange;*/
  -fx-border-width:1 1 1 1;
  -fx-border-color:crimson;
}
.no_border{
  -fx-border-width:0px;
}

.rightAligner{

}

/*#dorse .tab, #dorse .tab-pane{
  -fx-background: white;
}*/
